/* globals.css */
@import "tailwindcss";
@tailwind utilities;

@config "../../tailwind.config.mjs";


/* Font imports */
@font-face {
  font-family: 'Alliance No.2';
  src: url('/fonts/AllianceNo2-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance No.2';
  src: url('/fonts/AllianceNo2-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance No.2';
  src: url('/fonts/AllianceNo2-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/AllianceRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/AllianceSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/AllianceBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

;

/* CSS Reset */
* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

/* Turn off horizontal scrolling */
html,
body {
  overflow-x: hidden;
}

.body-scroll-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
}


.global-h1 {
  @apply font-bold lg:text-[clamp(4.375rem,0.9028rem+3.4722vw,3.125rem)] md:text-[clamp(2.625rem,1.1328rem+3.1128vw,3.125rem)] text-[42px]
 lg:leading-[110%] leading-[100%] lg:tracking-[-0.01em] tracking-[-0.01em] md:leading-[120%];
}

.global-h2 {
      @apply font-alliance font-bold leading-[110%] tracking-[-0.01em] text-[36px] md:text-[clamp(2.25rem,1.5078rem+1.5504vw,2.5rem)] lg:text-[clamp(2.5rem,1.3889rem+1.7361vw,3.125rem)];
}

.prose h2 {
  @apply font-alliance font-bold leading-[110%] tracking-[-0.01em] text-[36px] md:text-[clamp(2.25rem,1.5078rem+1.5504vw,2.5rem)] lg:text-[clamp(2.5rem,1.3889rem+1.7361vw,3.125rem)] mb-10;
}

.global-padding {
  @apply px-[clamp(1.25rem,-33.75rem+43.75vw,10rem)]
}

.global-margin {
  @apply lg:mb-[clamp(7.5rem,-12.5rem+25vw,12.5rem)] mb-[80px]
}

.global-p {
  @apply lg:text-[22px] md:text-[19px] text-base leading-[120%]
}

/* Set Alliance No.2 as the default font family */
body {
  font-family: var(--font-alliance-no2), ui-sans-serif, system-ui, sans-serif;
}

/* Typography styles */
.typography-default {
  font-family: "Alliance No.2", var(--font-alliance-no2), ui-sans-serif, system-ui, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(255, 255, 255);
}